# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code & IDE settings
.vscode/
.idea/

# Environment variables
.env
*.env

# OS files
.DS_Store
Thumbs.db


# Streamlit cache
.streamlit/

# Build artifacts
dist/
build/